<ng-container *ngIf="acoesB3 && acoesB3.Trad && acoesB3.Trad[0]">
    <app-header-page title="{{acoesB3.Trad[0].scty.symb}}" description="{{acao.description}}"
        icon="false"></app-header-page>
</ng-container>
<section class="container">
    <ng-container *ngIf="acoesB3 && acoesB3.Trad && acoesB3.Trad[0]">

        <app-top-info [info]="info"></app-top-info>
        <div class="wrapper">
            <h1 class="uppercase">cotação do {{acoesB3.Trad[0].scty.symb}}</h1>
            <ngx-charts-line-chart [legend]="legend" [showXAxisLabel]="showXAxisLabel" [scheme]="colorScheme"
                [showYAxisLabel]="showYAxisLabel" [xAxis]="true" [yAxis]="true" [autoScale]="true"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [results]="multi" (select)="onSelect($event)"
                (activate)="onActivate($event)" (deactivate)="onDeactivate($event)" style="fill: #d1d1d1;"
                [timeline]="true" [showGridLines]="true">
            </ngx-charts-line-chart>
        </div>
        <app-indicators [indicadores]="acao"></app-indicators>
        <app-card-info [info]="acao"></app-card-info>
        <app-segmento [setor]="acao.setor" [segmento]="acao.segmento" [subsetor]="acao.subsetor"></app-segmento>
    </ng-container>
    <div class="wrapper">
        <h1 class="uppercase" *ngIf="acoesB3 && acoesB3.Trad && acoesB3.Trad[0]">dividendos do {{acoesB3.Trad[0].scty.symb}}</h1>
        <!-- <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="multiDividendos" [xAxis]="true" [yAxis]="true"  [showGridLines]="true"
            [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)" [roundDomains]="true">
        </ngx-charts-bar-vertical-2d> -->
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary uppercase" id="dropdownBasic1" ngbDropdownToggle>
                    {{timeLineChartDividend}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="uppercase" (click)="timeLineChartDividend = yearNow" (click)="changeGraph()"
                        ngbDropdownItem>{{yearNow}}</button>
                    <button class="uppercase" (click)="timeLineChartDividend = '5 anos'" (click)="changeGraph()"
                        ngbDropdownItem>5 anos</button>
                    <button class="uppercase" (click)="timeLineChartDividend = 'máx'" (click)="changeGraph()"
                        ngbDropdownItem>máx</button>
                    <!-- <button class="uppercase" ngbDropdownItem>{{timeLineChart}}</button> -->
                </div>
            </div>
        </div>
        <div class="chart-producao chart">
            <canvas #ControleProducao></canvas>
        </div>
    </div>
    <div class="table_container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="uppercase">Tipo</th>
                    <th scope="col" class="uppercase">Data com</th>
                    <th scope="col" class="uppercase">pagamento</th>
                    <th scope="col" class="uppercase">valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of historicoDividendos">
                    <th>{{item.tipo}}</th>
                    <th>{{item.data | date: "dd/MM/YYY"}}</th>
                    <th>{{item.data_pagamento | date: "dd/MM/YYY"}}</th>
                    <th>{{item.valor | customNumberFormat}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</section>