<div class="top-info">
    <div class="info especial">
        <span class="title">VALOR ATUAL</span>
        <span><span class="icon"></span>{{info.Trad[0].scty.SctyQtn.curPrc | customNumberFormat}}</span>
    </div>
    <div class="info">
        <span class="title">MIN</span>
        <span><span class="icon"></span>{{info.Trad[0].scty.SctyQtn.minPric| customNumberFormat}}</span>
    </div>
    <div class="info">
        <span class="title">MÁX</span>
        <span><span class="icon"></span>{{info.Trad[0].scty.SctyQtn.maxPric | customNumberFormat}}</span>
    </div>
    <div class="info">
        <span class="title">MÈDIA</span>
        <span><span class="icon"></span>{{info.Trad[0].scty.SctyQtn.avrgPric | customNumberFormat}}</span>
    </div>
    <div class="info">
        <span class="title">VARIAÇãO</span>
            <span>
                <mat-icon class="icon" *ngIf="info.Trad[0].scty.SctyQtn.prcFlcn > 0">trending_up</mat-icon>
                <mat-icon class="icon" *ngIf="info.Trad[0].scty.SctyQtn.prcFlcn == 0">trending_flat</mat-icon>
                <mat-icon class="icon" *ngIf="info.Trad[0].scty.SctyQtn.prcFlcn < 0">trending_down</mat-icon>
                {{info.Trad[0].scty.SctyQtn.prcFlcn| customNumberFormat}}%</span>
    </div>
</div>