<nav>
    <img src="" alt="">
    <div>
        <ul>
            <li>
                <a>
                    <mat-icon>search</mat-icon>
                </a>
                <a>
                    <div class="row">
                        <div class="col">
                            <div ngbDropdown class="d-inline-block">
                                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1"
                                    ngbDropdownToggle>
                                    AÇÕES
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem>Action - 1</button>
                                    <button ngbDropdownItem>Another Action</button>
                                    <button ngbDropdownItem>Something else is here</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a>
                    <div class="row">
                        <div class="col">
                            <div ngbDropdown class="d-inline-block">
                                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1"
                                    ngbDropdownToggle>
                                    FIIS
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem>Action - 1</button>
                                    <button ngbDropdownItem>Another Action</button>
                                    <button ngbDropdownItem>Something else is here</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>