<main id="main">
    <section class="banner-section">
        <div class="container">
            <div class="container-info">
                <h1>
                    <b>GERENCIE TODOS SEUS INVESTIMENTOS EM UM LUGAR SÓ!</b>
                    <span class="d-block mt-3">Uma plataforma completa para você acompanhar os seus investimentos com
                        segurança.</span>
                </h1>
            </div>
            <div class="container-price">
                <a [routerLink]="['/indices/ibov']" *ngFor="let b3 of b3$ | async">
                    <div class="main-info">
                        <h1>{{b3.scty.symb}}</h1>
                        <strong>{{b3.scty.SctyQtn.curPrc | customNumberFormat}}<span>pts</span></strong>
                    </div>
                    <span> <mat-icon *ngIf="b3.scty.SctyQtn.prcFlcn > 0">trending_up</mat-icon>
                        <mat-icon *ngIf="b3.scty.SctyQtn.prcFlcn == 0">trending_flat</mat-icon>
                        <mat-icon *ngIf="b3.scty.SctyQtn.prcFlcn < 0">trending_down</mat-icon>{{b3.scty.SctyQtn.prcFlcn |
                        customNumber}}%</span>
                </a>
                <a  [routerLink]="['/indices/ibov']">
                    <div class="main-info" >
                        <h1>Volume negociado</h1>
                        <strong *ngIf="(b3TradingFloor$ | async)?.TradgFlr">
                            {{ (b3TradingFloor$ | async)!.TradgFlr!.grssAmt | customNumberFormat }}
                          </strong>
                          
                    </div>
                    <!-- <mat-icon>arrow_forward</mat-icon> -->
                </a>
                <a  [routerLink]="['/indices/ibov']">
                    <div class="main-info">
                        <h1>Quantidade de negócios</h1>
                        <strong *ngIf="(b3TradingFloor$ | async)?.TradgFlr">
                            {{ (b3TradingFloor$ | async)!.TradgFlr!.qty | customNumberFormat }}
                          </strong>
                          
                    </div>
                    <!-- <mat-icon>arrow_forward</mat-icon> -->
                </a>
            </div>
        </div>
    </section>
</main>

<section class="container_info">
    <div class="title_container">
        <h1>Ações</h1>
        <span>BOVESPA e BM&F</span>
        <div class="price_container">
            <div class="price_container_item" *ngFor="let b3 of b3$ | async">
                <span class="uppercase">ibovespa</span>
                <h3> <mat-icon *ngIf="b3.scty.SctyQtn.prcFlcn > 0">trending_up</mat-icon>
                    <mat-icon *ngIf="b3.scty.SctyQtn.prcFlcn == 0">trending_flat</mat-icon>
                    <mat-icon *ngIf="b3.scty.SctyQtn.prcFlcn < 0">trending_down</mat-icon> {{b3.scty.SctyQtn.prcFlcn | customNumberFormat}}%</h3>
            </div>
            <div class="price_container_item" *ngFor="let b3 of b3$ | async">
                <span class="uppercase">máx</span>
                <h3>{{b3.scty.SctyQtn.maxPric | customNumberFormat}}</h3>
            </div>
            <div class="price_container_item" *ngFor="let b3 of b3$ | async">
                <span class="uppercase">min</span>
                <h3>{{b3.scty.SctyQtn.minPric | customNumberFormat}}</h3>
            </div>
        </div>
    </div>
    <main class="container_change">
        <div class="info__container">
            <h3>Altas</h3>
            <div class="info__container_list">
                <div *ngFor="let item of (b3PriceFlutuationIbov$ | async)?.SctyHghstIncrLst" class="list_item"
                    [routerLink]="['/acoes', item.symb]">
                    <div class="list_item_title">
                        <h4>{{item.symb}} <span>{{item.desc}}</span></h4>
                        <div class="list_item_number">
                            <span><mat-icon class="green">trending_up</mat-icon>{{item.SctyQtn.prcFlcn |
                                customNumber}}%</span>
                            <span>R${{item.SctyQtn.curPrc| customNumberFormat}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info__container">
            <h3>Baixas</h3>
            <div class="info__container_list">
                <div *ngFor="let item of (b3PriceFlutuationIbov$ | async)?.SctyHghstDrpLst" class="list_item"
                    [routerLink]="['/acoes', item.symb]">
                    <div class="list_item_title">
                        <h4>{{item.symb}} <span>{{item.desc}}</span></h4>
                        <div class="list_item_number">
                            <span><mat-icon class="red">trending_down</mat-icon>{{item.SctyQtn.prcFlcn |
                                customNumber}}%</span>
                            <span>R${{item.SctyQtn.curPrc | customNumberFormat}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info__container">
            <h3>Maior Volume</h3>
            <div class="info__container_list">
                <div *ngFor="let item of (b3TradeVoluem$ | async)?.Volume" class="list_item" [routerLink]="['/acoes', item.scty.symb]">
                    <div class="list_item_title">
                        <h4>{{item.scty.symb}} <span>{{item.scty.desc}}</span></h4>
                        <div class="list_item_number">
                            <span>R${{item.pricVal | customNumber}}</span>
                            <span>{{item.grossAmt | customNumberFormat}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="info__container">
            <h3>Dividendos</h3>
            <div *ngFor="let item of dividendosFii" class="info__container_list">
                <div class="list_item" [routerLink]="['/acoes', item.name]">
                    <div class="list_item_title">
                        <h4>{{item.name}} <span>{{item.nomeCompleto}}</span></h4>
                        <div class="list_item_number">
                            <span>R${{item.dividendValor}}</span>
                            <span>{{item.dataPagamentoNext | date: "d/M/YYY"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </main>
</section>

<section class="container_info">
    <div class="title_container">
        <h1>Fii</h1>
        <span>Fundos de investimento imobiliário</span>
        <div class="price_container">
            <div class="price_container_item" *ngFor="let ifix of (ifix$ | async)">
                <span class="uppercase">ifix</span>
                <h3> <mat-icon *ngIf="ifix.scty.SctyQtn.prcFlcn > 0">trending_up</mat-icon>
                    <mat-icon *ngIf="ifix.scty.SctyQtn.prcFlcn == 0">trending_flat</mat-icon>
                    <mat-icon *ngIf="ifix.scty.SctyQtn.prcFlcn < 0">trending_down</mat-icon> {{ifix.scty.SctyQtn.prcFlcn | customNumberFormat}}%</h3>
            </div>
            <div class="price_container_item" *ngFor="let ifix of ifix$ | async">
                <span class="uppercase">máx</span>
                <h3>{{ifix.scty.SctyQtn.maxPric | customNumberFormat}}</h3>
            </div>
            <div class="price_container_item" *ngFor="let ifix of (ifix$ | async)">
                <span class="uppercase">min</span>
                <h3>{{ifix.scty.SctyQtn.minPric | customNumberFormat}}</h3>
            </div>
        </div>
    </div>
    <main class="container_change">
        <div class="info__container">
            <h3>Altas</h3>
            <div class="info__container_list">
                <div *ngFor="let item of (b3PriceFlutuation$ | async)?.SctyHghstIncrLst" class="list_item"
                    [routerLink]="['/fii', item.symb]">
                    <div class="list_item_title">
                        <h4>{{item.symb}} <span>{{item.desc}}</span></h4>
                        <div class="list_item_number">
                            <span><mat-icon class="green">trending_up</mat-icon>{{item.SctyQtn.prcFlcn |
                                customNumber}}%</span>
                            <span>R${{item.SctyQtn.curPrc| customNumberFormat}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info__container">
            <h3>Baixas</h3>
            <div class="info__container_list">
                <div *ngFor="let item of(b3PriceFlutuation$ | async)?.SctyHghstDrpLst" class="list_item"
                    [routerLink]="['/fii', item.symb]">
                    <div *ngIf="!(b3PriceFlutuation$ | async)?.SctyHghstDrpLst">
                        <mat-icon>warning</mat-icon>
                        <span>As cotações serão exibidas 15 minutos após a abertura do pregão.</span>
                    </div>
                    <div class="list_item_title">
                        <h4>{{item.symb}} <span>{{item.desc}}</span></h4>
                        <div class="list_item_number">
                            <span><mat-icon class="red">trending_down</mat-icon>{{item.SctyQtn.prcFlcn |
                                customNumber}}%</span>
                            <span>R${{item.SctyQtn.curPrc| customNumberFormat}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info__container">
            <h3>Dividendos</h3>
            <div *ngFor="let item of dividendosFii$ | async" class="info__container_list">
                <div class="list_item" [routerLink]="['/fii', item.name]">
                    <div class="list_item_title">
                        <h4>{{item.name}} <span>{{item.nomeCompleto}}</span></h4>
                        <div class="list_item_number">
                            <span>R${{item.dividendValor | customNumber}}</span>
                            <span>{{item.dataPagamentoNext | date: "d/M/YYY"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
