<app-header-page *ngIf="!isResult" title="Cálculo de Juros Simples"
  description="Juros simples são acrescidos somente em cima do valor inicial ao final de cada período, mantendo assim um crescimento constante. Calcule de forma prática e gratuita!"></app-header-page>

<main *ngIf="!isResult" class="calc">
  <h3 class="title">Simulador de Juros Simples</h3>
  <div class="form-container">
    <mat-form-field floatLabel="always">
      <mat-label>Valor inicial</mat-label>
      <input matInput type="text" class="example-right-align" placeholder="0" [(ngModel)]="initialValue"
        mask="separator.2" thousandSeparator=".">
      <span matTextPrefix>R$&nbsp;</span>
    </mat-form-field>

    <mat-form-field floatLabel="always" ngbDropdown>
      <mat-label>Taxa de juros</mat-label>
      <input matInput type="text" class="example-right-align" placeholder="0" [(ngModel)]="rate" mask="separator.2"
        thousandSeparator=".">
      <span matTextPrefix>%&nbsp;</span>
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle matSuffix>
        {{rateTime}}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="periodTime = 'Anos'" (click)="rateTime = 'Anual'">Anual</button>
        <button ngbDropdownItem (click)="periodTime = 'Meses'" (click)="rateTime = 'Mensal'">Mensal</button>
      </div>
    </mat-form-field>

    <mat-form-field floatLabel="always" ngbDropdown>
      <mat-label>Período em</mat-label>
      <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="period">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle matSuffix>
        {{periodTime}}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="periodTime = 'Anos'" (click)="rateTime = 'Anual'">Anos</button>
        <button ngbDropdownItem (click)="periodTime = 'Meses'" (click)="rateTime = 'Mensal'">Meses</button>
      </div>
    </mat-form-field>


    <div class="buttons">
      <button (click)="CalcularJurosCompostos()">Calcular</button>
      <button (click)="Limpar()">Limpar</button>
    </div>
  </div>
</main>


<section *ngIf="!isResult" class="blog">
  <article>
    <h2>Guia rápido para utilizar a calculadora de juros simples</h2>
    <ol class="list-first">
        <li>Comece preenchendo o campo 'Valor inicial'.</li>
        <li>Em seguida, insira a 'Taxa de juros' (anual ou mensal).</li>
        <li>Complete o campo 'Período' em meses ou anos.</li>
        <li>Agora, clique no botão 'Calcular' para visualizar o resultado.</li>
    </ol>
    <p>É simples assim! Agora você está pronto para explorar todas as possibilidades com a nossa prática calculadora de juros simples.</p>
  </article>
  <article>
    <h2>Explorando a Fórmula de Juros Simples</h2>
    <p>A fórmula de juros simples é, como o próprio nome indica, uma fórmula simples para realizar cálculos financeiros. É representada da seguinte maneira: Total = P × I × N. E aqui está o que essas variáveis representam:</p>
    <ul class="list">
        <li>P = o valor principal</li>
        <li>I = a taxa de juros</li>
        <li>N = o número de períodos entre datas</li>
    </ul>
    <p>É fácil perceber que estamos multiplicando a taxa de juros, que sempre incide sobre o valor inicial, pelo número de períodos. Isso nos permite observar como o saldo dessa operação cresce de maneira constante.</p>
    <p>No gráfico abaixo, consideramos um investimento de R$ 1.000,00, com uma taxa de 10% ao ano, durante 10 anos.</p>
    <!-- Inserir aqui o código para a imagem do gráfico de juros simples -->
    <span>Exemplo de Juros Simples 1</span>
    <p>Uma vez que os 10% sempre incidem sobre os R$ 1.000,00, o rendimento anual permanece constante em R$ 100,00. Isso fica ainda mais claro na tabela a seguir:</p>
    <img src="/assets/images/tabela-exemplo-juros-simples.png" alt="imagem tabela">
    <span>Exemplo de Juros Simples 2</span>
  </article>
  <article>
    <h2>Como Fazer um Cálculo Simples de Juros</h2>
    <p>Vamos agora entender como realizar um cálculo de juros simples através de um exemplo prático. Imagine que você tenha investido R$ 10.000,00 usando o sistema de juros simples, com um rendimento de 5% ao ano.</p>
    <p>Nesse cenário, seu investimento renderá precisamente R$ 500,00 por ano até a data de vencimento, pois a taxa sempre incide sobre o valor inicial.</p>
    <p>Portanto, se você deixar seu investimento aplicado por 10 anos, ao final desse período você terá R$ 15.000,00, pois:</p>
    <p>Total: 10.000 (reais) x 500 (reais por ano) x 10 (anos) = 15.000.</p>
  </article>
  <article>
    <h1>Juros Simples vs. Juros Compostos</h1>
    <p>No regime de juros simples, a taxa de juros incide apenas sobre o capital inicial. Isso significa que os juros
      são calculados apenas com base na quantia original investida ou emprestada.</p>
    <p>As principais diferenças entre juros simples e compostos podem ser resumidas da seguinte forma:</p>
  </article>
  <article>
    <h1>Juros Simples</h1>
    <ul class="list">
      <li>São pagos periodicamente (mensal ou anualmente) ao credor;</li>
      <li>Permanecem constantes ao longo do tempo, mas diminuem em termos reais devido à inflação;</li>
      <li>Se somados ao capital original, formariam uma linha reta (por exemplo, 1000, 1100, 1200 etc.);</li>
      <li>Podem ser comparados aos frutos de uma árvore: colhidos e consumidos;</li>
      <li>O credor usufrui imediatamente dos juros recebidos;</li>
      <li>Se não forem pagos ou incorporados ao montante, podem resultar em perda inflacionária e diminuição da taxa de
        rendimento.</li>
    </ul>
  </article>
  <article>
    <h1>Juros Compostos</h1>
    <ul class="list">
      <li>São pagos ao credor somente no vencimento;</li>
      <li>Crescem com o tempo, tanto em termos reais quanto nominais, se a taxa for superior à inflação;</li>
      <li>Quando incorporados ao capital, geram uma curva ascendente (por exemplo, 1000, 1100, 1210 etc.);</li>
      <li>O credor usufrui dos juros de forma adiada;</li>
      <li>Se forem pagos, não são incorporados ao montante, que não aumenta durante o período em que são pagos.</li>
    </ul>
    <p>Os juros compostos representam a aplicação de juros sobre juros, ou seja, são aplicados aos montantes de cada
      período.</p>
  </article>
</section>




<main *ngIf="isResult" class="result">
  <button (click)="Voltar()"><i class="fa-solid fa-arrow-left"></i> Fazer outro cálculo</button>
  <section class="result__container">
    <h1>Meu cálculo</h1>
    <div>
      <div class="card">
        <span class="title">Valor Incial</span>
        <b>{{startInitialValue | currency:'BRL':'symbol':'1.2-2'}}</b>
      </div>
      <div class="card">
        <span class="title">Taxa de juros</span>
        <b>{{rate | number:'1.2-2'}}% ({{rateTime}})</b>
      </div>
      <div class="card">
        <span class="title">Período em</span>
        <b>{{period}} {{periodTime}}</b>
      </div>
    </div>
  </section>
  <section class="result__container_second">
    <h1>Resultado</h1>
    <div>
      <div class="card">
        <span class="title">Valor total final</span>
        <span class="bold dark">{{totalFinal| currency:'BRL':'symbol':'1.2-2'}}</span>
      </div>
      <div class="card">
        <span class="title">Valor total investido</span>
        <span class="bold blue">{{totalInvestido | currency:'BRL':'symbol':'1.2-2'}}</span>
      </div>
      <div class="card">
        <span class="title">Total em juros</span>
        <span class="bold green">{{totalJuros | currency:'BRL':'symbol':'1.2-2'}}</span>
      </div>
    </div>
  </section>
  <section class="result__container max-height">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">{{ periodTime === "Meses" ? "Mês" : "Ano" }}</th>
          <th scope="col">Juros</th>
          <th scope="col">Total Investido</th>
          <th scope="col">Total Juros</th>
          <th scope="col">Total Acumulado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of resultadoTotal; index as i">
          <th scope="row">{{ i }}</th>
          <td>
            {{item.juros | currency:'BRL':'symbol':'1.2-2'}}
          </td>
          <td>{{ item.totalInvestido | currency:'BRL':'symbol':'1.2-2'}}</td>
          <td>{{ item.totalJuros | currency:'BRL':'symbol':'1.2-2'}}</td>
          <td>{{ item.totalAcumulado | currency:'BRL':'symbol':'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="result__container_second">
  </section>
</main>

<div class="chart-producao chart">
  <canvas #ControleProducao></canvas>
</div>