<ng-container *ngIf="fiisB3 && fiisB3.Trad && fiisB3.Trad[0] && fii.nomeCompleto != undefined">
    <app-header-page title="{{fiisB3.Trad[0].scty.symb}}" description="{{fii.nomeCompleto}}" icon="false"></app-header-page>
    <section class="container">
        <app-top-info [info]="info"></app-top-info>
        <div class="wrapper">
            <h1 class="uppercase">cotação do {{fiisB3.Trad[0].scty.symb}}</h1>
            <ngx-charts-line-chart [legend]="legend" [showXAxisLabel]="showXAxisLabel" [scheme]="colorScheme"
                [showYAxisLabel]="showYAxisLabel" [xAxis]="true" [yAxis]="true" [autoScale]="true" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel" [results]="multi" (select)="onSelect($event)" (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)" style="fill: #d1d1d1;" [timeline]="true">
            </ngx-charts-line-chart>
        </div>
        <app-bottom-info [fii]="fii"></app-bottom-info>
        <app-dy-container [fii]="fii"></app-dy-container>
        <div class="wrapper">
            <h1 class="uppercase">dividendos do {{fiisB3.Trad[0].scty.symb}}</h1>
            <div id="chart-container">
    
            </div>
        </div>
        <app-card [fii]="fii"></app-card>
        <app-segmento [segmento]="fii.segmento"></app-segmento>
    </section>
</ng-container>