<app-header-page *ngIf="!isResult" title="Cálculo de Consumo de Combustível"
    description="Vai viajar com transporte próprio? Faça o cálculo de consumo de combustível e saiba quanto vai gastar para organizar as contas e abastecer antes da viagem!"></app-header-page>



    
<main *ngIf="!isResult" class="calc">
    <h3 class="title">Cálculo do Combustível</h3>
    <div class="form-container">
        <mat-form-field floatLabel="always">
            <mat-label>Distância percorrida</mat-label>
            <input matInput type="text" class="example-right-align" placeholder="0" [(ngModel)]="distancia">
            <span matTextPrefix>km&nbsp;</span>
        </mat-form-field>

        <mat-form-field floatLabel="always" ngbDropdown>
            <mat-label>Consumo médio do veículo</mat-label>
            <input matInput type="text" class="example-right-align" placeholder="0" [(ngModel)]="consumo">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle matSuffix>
                {{rateTime}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="rateTime = 'ℓ/100km'">ℓ/100km</button>
                <button ngbDropdownItem (click)="rateTime = 'km/ℓ'">km/ℓ</button>
            </div>
        </mat-form-field>

        <mat-form-field floatLabel="always" ngbDropdown>
            <mat-label>Preço por litro</mat-label>
            <span matTextPrefix>R$/ℓ&nbsp;</span>
            <input matInput type="text" class="example-right-align" placeholder="0" [(ngModel)]="preco" mask="separator.2" thousandSeparator="."> 
            <span matTextSuffix>por ℓ&nbsp;</span>
        </mat-form-field>
        <label class="cyberpunk-checkbox-label" (click)="idaEvolta = true">
            <input type="checkbox" class="cyberpunk-checkbox">
            Adicionar caminho de volta</label>

        <div class="buttons">
            <button (click)="CalcularJurosCompostos()">Calcular</button>
            <button (click)="Limpar()">Limpar</button>
        </div>
    </div>
</main>


<section *ngIf="!isResult" class="blog">
    <article>
        <h2>Utilizando a Calculadora de Combustível</h2>
        <p>Se deseja entender como calcular os custos de combustível, siga estes passos simples:</p>
        <ol class="list-first">
            <li>Insira a distância a ser percorrida em quilômetros.</li>
            <li>Forneça o consumo médio do veículo.</li>
            <li>Informe o valor por litro do combustível adquirido.</li>
            <li>Clique em "Calcular".</li>
        </ol>
        <p>Receberá o cálculo do consumo de combustível e terá a opção de inserir o custo da viagem de volta.</p>
    </article>
    <article>
        <h2>O Que São Combustíveis?</h2>
        <p>Combustíveis são substâncias que, ao entrar em contato com o oxigênio, geram calor e são fundamentais para acionar os motores de veículos.</p>
        <p>Dentro desse contexto, encontramos diversas variedades de combustíveis, incluindo diesel, gasolina e etanol, frequentemente conhecido como álcool.</p>
    </article>
    <article>
        <h2>Como Calcular o Consumo de Combustível?</h2>
        <p>Para ter uma ideia do consumo do seu veículo e calcular os gastos de combustível, é essencial determinar a quilometragem por litro do veículo.</p>
        <p>Com os dados de eficiência do veículo por litro, a distância a ser percorrida e o valor do combustível por litro, é viável estimar os gastos com combustível em viagens ou na rotina diária.</p>
    </article>
    <article>
        <h2>Como Calcular o Consumo de Combustível por Quilômetro?</h2>
        <p>Calcular o consumo de combustível por quilômetro é simples: divida o preço do litro da gasolina pelo consumo médio do veículo.</p>
        <p>Vamos exemplificar:</p>
        <ol class="list">
            <li>Suponhamos que o preço da gasolina seja R$ 5,80 na sua região.</li>
            <li>Seu carro percorre 11 quilômetros com um litro de gasolina.</li>
            <li>Portanto, a fórmula seria: 5,80 / 11 = 0,52;</li>
            <li>Ou seja, o custo por quilômetro é de R$ 0,52.</li>
        </ol>
    </article>
    <article>
        <h2>Calculando o Gasto de Combustível na Viagem</h2>
        <p>Para calcular o gasto de combustível em uma viagem, o primeiro passo é determinar a eficiência do seu veículo, ou seja, quantos quilômetros ele percorre com um litro de combustível.</p>
        <p>Essa informação, combinada com a distância planejada para a viagem e o preço do combustível por litro, são essenciais para usar nossa calculadora de combustível.</p>
        <p>Confira na imagem um exemplo de como preencher os dados para calcular o combustível gasto na viagem.</p>
        <img src="caminho/para/imagem/exemplo-calculo-combustivel-viagem.png" alt="Exemplo de Preenchimento para Cálculo de Combustível na Viagem">
    </article>
    <article>
        <h2>Como Poupar Combustível?</h2>
        <p>Para economizar combustível, é fundamental calcular constantemente qual opção é mais vantajosa na hora de abastecer seu veículo, especialmente devido às flutuações frequentes nos preços dos combustíveis.</p>
        <p>Além disso, para ajudar a economizar ainda mais combustível, aqui estão algumas dicas:</p>
        <ol class="list">
            <li>Respeite os momentos de troca de marchas.</li>
            <li>Avoid carrying excess weight.</li>
            <li>Faça alinhamento e balanceamento regularmente.</li>
            <li>Não acelere enquanto estiver parado no farol.</li>
            <li>Evite deixar o veículo em ponto morto em descidas.</li>
            <li>Calibre os pneus regularmente.</li>
            <li>Realize manutenções preventivas.</li>
        </ol>
    </article>
    <article>
        <h2>Como Calcular Qual Combustível é Mais Vantajoso?</h2>
        <p>Para determinar qual combustível é mais vantajoso, é necessário comparar o desempenho de um em relação ao outro.</p>
        <p>Por exemplo, gasolina versus etanol:</p>
        <p>Se o veículo faz 7,3 km por litro com etanol e 10 km por litro com gasolina, divida 7,3 por 10 = 0,73 ou 73%.</p>
        <p>Agora, divida o preço do etanol pelo preço da gasolina, considerando, digamos, que o etanol seja 3,90 e a gasolina 5,80. Fazendo etanol/gasolina, o resultado é 3,90 por 5,80 = 0,67 ou 67%.</p>
        <p>Se o etanol custar até 70% do preço da gasolina, é mais vantajoso. Ou seja, no exemplo acima, optar pelo etanol representaria uma maior economia.</p>
        <p>Caso contrário, é melhor escolher a gasolina.</p>
    </article>
</section>




<main *ngIf="isResult" class="result">
    <button (click)="Voltar()"><i class="fa-solid fa-arrow-left"></i> Fazer outro cálculo</button>
    <section class="result__container">
        <h1>Meu cálculo</h1>
        <div>
            <div class="card">
                <span class="title">Distância percorrida (somente ida)</span>
                <b>{{distancia}} Km</b>
            </div>
            <div class="card">
                <span class="title">Consumo médio do veículo</span>
                <b>{{consumo | number:'1.2-2'}} ({{rateTime}})</b>
            </div>
            <div class="card">
                <span class="title">Preço do combustivel por litro</span>
                <b>{{preco |currency:'BRL':'symbol':'1.2-2' }}</b>
            </div>
        </div>
    </section>
    <section class="result__container_second">
        <h1>Resultado</h1>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr class="table-header">
                        <th scope="col">Km</th> 
                        <th scope="col">Consumo (ℓ)</th>
                        <th scope="col">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-data" scope="row">
                            {{distancia}} km
                        </td>
                        <td class="table-data" scope="row" *ngIf="rateTime != 'ℓ/100km'">
                            {{distancia! / consumo! | number:'1.2-2'}} ℓ
                        </td>
                        <td class="table-data" scope="row" *ngIf="rateTime == 'ℓ/100km'">
                            {{distancia! *( consumo! / 100) | number:'1.2-2'}} ℓ
                        </td>
                        <td class="table-data" scope="row">
                            {{resultado |currency:'BRL':'symbol':'1.2-2' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
