<app-header-page title="FII" description="FUNDOS DE INVESTIMENTO IMOBILIÁRIO"></app-header-page>



<div class="col drop">
	<div ngbDropdown class="d-inline-block">
		<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
			{{dropdown}}
		</button>
		<div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
			<button ngbDropdownItem (click)="dropdown = 'Todos os segmentos'">Todos os segmentos</button>
			<button ngbDropdownItem *ngFor="let item of segmentos" (click)="dropdown = item">{{item}}</button>
		</div>
	</div>
</div>

<section class="contaier_search">
	<div class="search">
		<h1 class="uppercase">DY</h1>
		<div>
			<span>{{dyMin.value | customNumberFormat}}</span>
			<span>{{dyMax.value | customNumberFormat}}</span>
		</div>
		<mat-slider min="0" max="20" step="0.5">
			<input matSliderStartThumb [(ngModel)]="minDividendSearch" #dyMin>
			<input matSliderEndThumb [(ngModel)]="maxDividendSearch" #dyMax>
		  </mat-slider>
	</div>
	<div class="search">
		<h1 class="uppercase">p/vp</h1>	
		<div>
			<span>{{pvpMin.value | customNumberFormat}}</span>
			<span>{{pvpMax.value | customNumberFormat}}</span>
		</div>
		<mat-slider min="0" max="5" step="0.5">
			<input matSliderStartThumb [(ngModel)]="minPvp" #pvpMin>
			<input matSliderEndThumb [(ngModel)]="maxPvp" #pvpMax>
		  </mat-slider>
	</div>
	<div class="search">
		<h1>Percentual do Caixa</h1>
		<div>
			<span>{{percentualMin.value | customNumberFormat}}</span>
			<span>{{percentualMax.value | customNumberFormat}}</span>
		</div>
		<mat-slider min="0" max="100" step="0.5">
			<input matSliderStartThumb [(ngModel)]="minPercentualdoCaixa" #percentualMin>
			<input matSliderEndThumb [(ngModel)]="maxPercentualdoCaixa" #percentualMax>
		  </mat-slider>
	</div>
	<div class="search">
		<h1>Nº de cotistas</h1>
		<div>
			<span>{{cotistasMin.value | customNumberFormat}}</span>
			<span>{{cotistasMax.value | customNumberFormat}}</span>
		</div>
		<mat-slider min="0" max="100000" step="0.5">
			<input matSliderStartThumb [(ngModel)]="minCotistas" #cotistasMin>
			<input matSliderEndThumb [(ngModel)]="maxCotistas" #cotistasMax>
		  </mat-slider>
	</div>
	<div class="search">
		<h1>DY CAGR 3 anos</h1>
		<div>
			<span>{{dyCagrMin.value | customNumberFormat}}</span>
			<span>{{dyCagrMax.value | customNumberFormat}}</span>
		</div>
		<mat-slider min="0" max="50" step="0.5">
			<input matSliderStartThumb [(ngModel)]="minDY" #dyCagrMin>
			<input matSliderEndThumb [(ngModel)]="maxDY" #dyCagrMax>
		  </mat-slider>
	</div>
	<div class="search">
		<h1>Liquidez média diária</h1>
		<div>
			<span>{{liquidezMin.value | customNumberFormat}}</span>
			<span>{{liquidezMax.value | customNumberFormat}}</span>
		</div>
		<mat-slider min="0" max="5000000" step="0.5">
			<input matSliderStartThumb [(ngModel)]="minLiquidez" #liquidezMin>
			<input matSliderEndThumb [(ngModel)]="maxLiquidez" #liquidezMax>
		  </mat-slider>
	</div>
	<div class="search">
		<h1>Patrimônio</h1>
		<div>
			<span>{{patrimonioMin.value | customNumberFormat}}</span>
			<span>{{patrimonioMax.value | customNumberFormat}}</span>
		</div>
		<mat-slider min="0" max="10000000000" step="0.5">
			<input matSliderStartThumb [(ngModel)]="minPatrimonio" #patrimonioMin>
			<input matSliderEndThumb [(ngModel)]="maxPatrimonio" #patrimonioMax>
		  </mat-slider>
	</div>
</section>	
<div class="button_container">
	<button class="button" (click)="pesquisar()">
		<span class="button_lg">
			<span class="button_sl"></span>
			<span class="button_text">Pesquisar</span>
		</span>
	</button>
</div>

<table class="table table-striped" *ngIf="fii.length > 0">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">TICKER</th>
			<th scope="col">PREÇO</th>
			<th scope="col">DY</th>
			<th scope="col">P/VP</th>
			<th scope="col">PERCENTUAL DO CAIXA</th>
			<th scope="col">Nº DE COTISTAS</th>
			<th scope="col">DY CAGR 3 ANOS</th>
			<th scope="col">LIQUIDEZ MÉDIA DIÁRIA</th>
			<th scope="col">PATRIMÔNIO</th>
			<th scope="col">VAL. PATRIMONIAL P/COTA</th>
			<th scope="col">Nº DE COTAS</th>
			<th scope="col">ÚLT. RENDIMENTO</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of fii; let i = index">
			<td>{{item.id}}</td>
			<td [ngClass]="(item.variacao >= 0) ? 'subir' : 'descer'" [routerLink]="['/fii',item.name] ">
				<mat-icon *ngIf="item.variacao > 0">trending_up</mat-icon>
				<mat-icon *ngIf="item.variacao == 0">trending_flat</mat-icon>
				<mat-icon *ngIf="item.variacao < 0">trending_down</mat-icon>
				{{item.name}}
			</td>
			<td>{{item.price | customNumber}}</td>
			<td>{{item.dividendPercent |customNumber}}</td>
			<td>{{item.precoSobreVP|customNumber}}</td>
			<td>{{item.valorEmCaixa| customNumber}}</td>
			<td>{{item.ndeCotistas | customNumberFormat}}</td>
			<td>{{item.dyCagr3Anos | customNumber}}</td>
			<td>{{item.liquidezMediaDiaria | customNumberFormat}}</td>
			<td>{{item.patrimonio | customNumberFormat}}</td>
			<td>{{item.valorPatrimonialPorCota | customNumber}}</td>
			<td>{{item.ndeCotas | customNumberFormat}}</td>
			<td>{{item.dividendLast | customNumber}}</td>
		</tr>
	</tbody>
</table>
<!-- <ngb-pagination [collectionSize]="240" [maxSize]="5" [(page)]="page" aria-label="Default pagination" (click)="paginator()"/> -->