.subir {
    color: green;
    font-weight: 700;
}

.descer {
    color: red;
    font-weight: 700;
}


form{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    align-items: center;
}

table{
    width: 70%;
    margin: auto;
}

ngb-pagination{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.search{
    display: flex;
    flex-direction: column;
}